html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, rgba(142, 116, 198, 0.8799894957983193) 25%, rgba(181, 195, 227, 0.8582887700534759) 62%, rgba(81, 142, 232, 0.6684491978609626) 100%);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-position: center;
}

.mainHeader {
    background-color: rgba(223, 221, 221, 0.246);
    text-align: center;
    color: white;
    text-shadow: 0px 0px 7px black;
    margin-bottom: 5%;
    height: 12.5vh;
}

.mainHeader>h1 {
    padding: 4% 0 0.5% 0;
    margin: 0;
    text-shadow: 1px 1px 7px black;
}

.formSingIn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    width: 40%;
    background-color: rgba(223, 221, 221, 0.246);
    padding: 5%;
    margin: 0 0 0 10%;
    justify-self: center;
    font-size: 1.5rem;
    border-radius: 25px;
}

input {
    padding: 5%;
    font-size: 1.5rem;
}

.formSingIn>div {
    justify-self: center;
    justify-items: center;
    align-items: center;
    place-self: center;
}