html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)50%), url('img/index/house.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-position: center;
    height: 170vh;
}

.back {
    height: 12.5vh;
    background-color: rgba(173, 173, 173, 0.377);
    margin-bottom: 2%;
}

.back>a>img {
    margin: 1.3% 0 0% 2%;
    width: 4%;
}

.formCreating {
    width: 70%;
    margin: 1% 0% 1% 25%;
    display: flex;
    column-gap: 1.5%;
}

.formCreating>input {
    padding: 0.5%;
    border-radius: 10px;
}

.formCreating>button {
    padding: 0.5%;
    border-radius: 10px;
}

.rooms {
    width: 90%;
    height: 130vh;
    margin-left: 3%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    background-color: rgba(223, 221, 221, 0.246);
    border-radius: 50px;
}

.rooms>div>a>img {
    width: 80%;
    border-radius: 50px;
    box-shadow: 1px 1px 7px black;
}

.roomsParag {
    background-color: rgba(223, 221, 221, 0.500);
    text-shadow: 1px 1px 7px black;
    border-radius: 15px;
    color: white;
    font-size: 4em;
    width: 60%;
    margin: -15% 0 0 25%;
    padding: 0;
    position: relative;
    top: -50%;
}

.roomsSmall__img:hover {
    box-shadow: 0px 0px 5px white;
}

@media only screen and (max-width: 1600px) {
    .formCreating {
        width: 75%;
        margin: 1% 0% 1% 13%;
    }
    .rooms>div>a>img {
        width: 90%;
        border-radius: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .main {
        height: 150vh;
    }
    .back {
        margin-bottom: 2%;
    }
    .back>a>img {
        margin: 2% 0 0% 3%;
        width: 6%;
    }
    .formCreating {
        padding: 0;
        width: 95%;
        margin: 1% 0% 1% 2.5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10%;
        margin-bottom: 5%;
    }
    .formCreating>input {
        padding: 3%;
        font-size: 1.2em;
    }
    .formCreating>button {
        font-size: 1.2em;
    }
    .rooms {
        height: 100vh;
        border-radius: 25px;
    }
    .rooms>div>a>img {
        width: 95%;
        border-radius: 25px;
    }
    .roomsParag {
        font-size: 3em;
        margin-left: 25%;
        top: -50%;
    }
}

@media only screen and (max-width: 1100px) {
    .main {
        height: 100vh;
    }
    .rooms {
        height: 65vh;
    }
}

@media only screen and (max-width: 800px) {
    .main {
        height: 115vh;
    }
    .back>a>img {
        margin: 3% 0 0% 3%;
        width: 10%;
    }
    .rooms {
        height: 75vh;
    }
    .roomsParag {
        font-size: 2.5em;
        top: -45%;
    }
}

@media only screen and (max-width: 730px) {
    .rooms {
        height: 250vh;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        background-color: rgba(223, 221, 221, 0.246);
    }
}

@media only screen and (max-width: 500px) {
    .main {
        height: 290vh;
    }
    .formCreating {
        padding: 0;
        width: 85%;
        margin: 1% 0% 0% 2.5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5%;
        margin-bottom: 5%;
    }
    .formCreating>button {
        padding: 3%;
        font-size: 1.2em;
        margin-bottom: 25%;
    }
    .rooms {
        width: 80%;
        height: 180vh;
        /* margin-left: 3%; */
        padding: 1.5%;
        background-color: rgba(223, 221, 221, 0.246);
        border-radius: 30px;
    }
    /* .formCreating {
        width: 70%;
        margin: 1% 0% 1% 25%;
        display: flex;
        column-gap: 1.5%; */
}


/*@media only screen and (max-width: 380px) {} */


/* 
.main {
    height: 110vh;
}
.rooms {
    height: 72vh;
}
.roomsParag {
    font-size: 2.5em;
    margin-left: 27%;
    top: -45%;
} */