    body {
        margin: 0;
        padding: 0;
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)50%), url('img/house.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    a {
        text-decoration: none;
        
    }
    
/* 
    .back {
        height: 12.5vh;
        background-color: rgba(173, 173, 173, 0.377);
        margin-bottom: 2%;
    }
     */

    .back>a>img {
        margin: 1.3% 0 0% 2%;
        width: 4%;
    }
    /* form of creating room */
    

    .createRoom_form {
        width: 16%;
       /*  width: 95%;
        height: 280px; */
        padding: 0.5%;
       /*  margin: auto; */
        text-align: center;
        background-color: rgba(173, 173, 173, 0.377);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
       /*  background-color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 5px 5px 9px rgb(85, 85, 85); */
    }
    

    .createRoom_form>input {
        outline: none;
        padding: 3%;
        border-radius: 15px;
        border: none;
    }
    
   

    .createRoom_form__btn {
        margin-left: 2%;
     /*    margin-left: 1%; */
    }
    

    .createRoom_form__btn:hover {
        background-color: rgb(137, 197, 137);
        transition: 0.15s;
        font-weight: bold;
    }

    

    /* Delete room */
    

    

    .deleteRoom:hover {
        border: 1px solid rgba(255, 0, 0, 0.548);
        transition: 0.15s;
        color: rgba(255, 0, 0, 0.548);
        font-weight: bold;
    }
    /* correct time and date */
    
    h3 {
        color: white;
    }
    

    .h3_correct {
       /*  margin-right: 50%; */
        margin-right: 40%;
    }
    

    .createRoom_form__h3 {
        font-size: 1.5em;
        margin-top: 2%;
        margin-bottom: 5%;
        text-shadow: 0px 0px 5px black;
    }
  /*   .timeAndDate{
        border: solid gold;
        width: 40%;
        margin: auto;
        text-align: center;
    }
    
    .timeDateFlex{
        display: flex;
        flex-direction: row;

    } */

    #correctTime,
    #correctDate {
        font-size: 1.5rem;
        color: white;
        text-shadow: 0px 0px 5px black;
       /*  border: solid darkred; */

    }

    /* show the rooms tasks*/
    

    #putRoom {
        position: relative;
        bottom: 20vh;
        margin: 0 0 0 20%;
        padding: 2%;
        width: 65%;
        max-width: 1000px;
       /*  display: grid; */
        background-color: rgba(221, 221, 223, 0.246);
        border-radius: 20px;
        /* width: 92%;
        display: flex;
        flex-direction: column;
        border: solid rgba(24, 8, 255, 0.527);
        text-align: center;
        margin: auto; */
    }
    

    .roomsAndTask {
        position: relative;
        color: white;
        font-size: 2em;
        background: linear-gradient(180deg, rgba(7, 21, 68, 0.548) 8%, rgba(119, 125, 136, 0.8) 55%, rgba(20, 20, 56, 0.7) 100%);
        /* box-shadow: rgb(129, 129, 129) 5px 5px 3px; */
       /*  background: white;
        box-shadow: 5px 5px 9px rgb(85, 85, 85); */
        border-radius: 15px;
        max-width: 994px; 
        padding-bottom: 3%;
      
    }
    

    .roomsAndTask>form>input {
        padding: 1%;
        border-radius: 5px 0 0 5px;
        border: none;
        outline: none;
        margin-left: 5%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        height: 17px;
        
    }
    

    form {
        padding-bottom: 5%;
       
    }
    /* select{
        color: chartreuse;
    } */
    

    .gridHeadline {
     height: auto;
    }
    

    .gridHeadline>h3 {
        width: 50%;
       /*  width: 25%; */
        margin: 0;
        position: relative;
        top: 1.5vh;
        left: 2vw;
        text-shadow: 0px 0px 5px rgb(107, 45, 16);
       /*  left: 5px;
        text-shadow: 0px 0px 5px rgb(145, 141, 140);
        border: solid chocolate; */
    }
    

    .gridHeadline>button {
        position: relative;
        bottom: 8vh;
        left: 55vw;
    }
    

    .roomsAndTask>form {
      
        margin: -80px 1px 20px 60px;
        height: 10%;
        width: 70%;
        padding: 0;
        float: right;
    }

  

    .newTask {
        width: 60%;
        margin-left: 50px;
        background-color: rgb(231, 212, 248);
        
        
    }
    
    .addTask{
     margin-left: -10px;
     color: rgb(255, 255, 255);
     height: 29px;
     background-color: rgba(255, 255, 255, 0);
     border: 1px solid white;
     border-radius: 0 5px 5px 0;
     
     


    }
    .addTask:hover {
        background-color: rgb(137, 197, 137);
        transition: 0.3s;
    }
    
    ::-webkit-scrollbar {
    width: 9px;
    background-color: rgba(255, 255, 255, 0.411);
    }

    ::-webkit-scrollbar-thumb{
        background-color: #fff;
        border-radius: 5px;
    }

    .listTask {
        overflow: auto;
        font-size: 0.6em;
        width: 150px;
        height: 80px;
        min-width: 333px;
        margin-left: 50%;
        position: relative;
        margin-bottom: 20px;
        
        
       /*  position: relative; */
        /* left: 6%; */
    }
    

.tasks{
    width: 80%;
    border-bottom: 1px solid white;
    min-width: 268px;
}

    .deleteTask {
        position: relative; 
        float: right;
        padding: 1%;
        border-radius: 15px;
        border: none;
    }
    

    .deleteTask:hover {
        background-color: rgb(137, 197, 137);
        transition: 0.15s;
        color: white;
        font-weight: bold;
    }
    

    .usersSelector{
        margin-left: 5%;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 0.5em;
        border-radius: 5px 0 0 5px;
        border: 1px solid white;

    }
    .usersSelector option{
        color: rgba(0, 0, 0, 0.548);
    }


    .listUsers{
        overflow: auto;
        margin-left: 5%;
        width: 20%;
        height: 80px;
        min-width: 153px;
        font-size: 0.8em;
        position: absolute;
    }

    .add__btn{
    position: relative;
    right: 10px;
    bottom: 1px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    height: 21px;
    border-radius: 0 5px 5px 0;
    outline: none;



    }
    .deleteUser{
        float: right;
        margin-top: 5%;
    }
    .addUser__wrapper{
        width: 30%;
        margin-bottom: 1%;
    }

    footer {
        padding: 2%;
        color: white;

        text-align: center;
        font-size: 1.2rem;
    }

    /* singel room css */
    

    h1 {
        text-align: center;
        width: 40%;

        color: white;
        text-shadow: 1px 1px 10px black;
    }
    

    .notes {
        width: 80%;
        margin-left: 10%;

        color: white;
        text-shadow: 1px 1px 7px black;
    }
    /* #singelRoom {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: aquamarine;
    border-radius: 20px;

} */
    
   /* @media only screen and (max-width: 1030px) {
    /* @media only screen and (max-width: 1030px) {
        .back>a>img {
            margin: 4% 0 0% 3%;
            width: 8%;

            grid-template-columns: repeat(1, 1fr);
        }
        .gridHeadline>button {
            position: relative;
            bottom: 1.5vh;
            left: 40vw;
        }
@ -298,11 +279,10 @@
            grid-template-columns: repeat(1, 1fr);
        }
        .gridHeadline>button {
            position: relative;
            bottom: 4.5vh;
            left: 55vw;
        }
        .newTask {
            width: 60%;
        }
    }
    } */