    body {
        margin: 0;
        padding: 0;
        /* background: linear-gradient(to bottom, rgba(8, 0, 119, 0.89), rgba(241, 180, 180, 0.3)50%), url('img/house.jpg'); */
        background:  url('img/house.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    a {
        text-decoration: none;

    }

    h3 {
        color: white;
    }

    /* SCROLL */

    ::-webkit-scrollbar {
        width: 9px;
        background-color: rgba(255, 255, 255, 0.411);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 5px;
    }

    /* HEADER */
    .back {
        height: 8vw;
        background-color: rgba(173, 173, 173, 0.377);
        margin-bottom: 2%;
    }

      

    a{
        margin: 2.8% 0 0 4%;
        position: absolute;
    }

a::before {
    content: '\f060';
    font-family: 'FontAwesome', sans-serif;
    font-size: 2vw;
    color: white;
    font-weight: inherit;
    
    
    
    
    }



    /* CREATING ROOM & TIME & DATE */

    .createRoom_form {
        position: absolute;
        width: 16%;
        max-width: 200px;
        padding: 1.5%;
        text-align: center;
        background-color: rgba(173, 173, 173, 0.377);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #roomName {
        outline: none;
        padding: 2%;
        border-radius: 10px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.438);
        width: 90%;
        
    }
    #roomName:hover{
        box-shadow: 0px 0px 5px rgb(223, 221, 221);
    }

    #btnCreateRoom{
        outline: none;
        padding: 1% 6%;
        border-radius: 8px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        margin: 2% 0 5% 0;
        width: 60%;
        font-size: 0.9vw;
        
    }

    #btnCreateRoom:hover{
        box-shadow: 0px 0px 5px rgb(223, 221, 221);
        text-shadow: 0px 0px 5px rgb(223, 221, 221);
        transition: 0.3s;
    }

    /* .createRoom_form__btn {
        margin-left: 2%;
    } */

    /* .createRoom_form__btn:hover {
        background-color: rgb(137, 197, 137);
        transition: 0.15s;
        font-weight: bold;
        color: white;
    } */

    .createRoom_form__h3--correct {
        margin-right: 50%;
        font-size: 1em;
        margin: auto;
        font-weight: inherit;
    }

    .createRoom_form--h3 {
        font-size: 2.2vw;
        margin-top: 2%;
        margin-bottom: 5%;
        text-shadow: 0px 0px 5px black;
    }

    #correctTime,
    #correctDate {
        font-size: 2.2vw;
        color: white;
        text-shadow: 0px 0px 5px black;
    }

    /* PUTROOMS AND TASKS */

    #putRoom {
        /* position: relative; */
        /* bottom: 32vh; */
        margin: 0 0 0 16%;
        padding: 2%;
        width: 73%;
        background-color: rgba(255, 255, 255, 0.315);
        border-radius: 20px;
        
    }

    .roomsAndTask {
        position: relative;
        color: white;
        font-size: 2em;
        /* background: linear-gradient(180deg, rgba(59, 12, 31, 0.815) 8%, rgba(121, 2, 51, 0.815) 55%, rgba(121, 2, 51, 0.815) 100%); */
        border-radius: 15px;
        margin-bottom: 3%;
        padding-bottom: 3%;
        background: linear-gradient(180deg, rgb(66, 66, 95) 5%, rgba(116, 64, 184, 0.774) 100%, rgba(113, 56, 160, 0.548) 100%);
    }

    .gridHeadline>h3 {
        width: 25%;
        margin: 0;
        position: relative;
        top: 1.5vh;
        left: 2vw;
        font-size: 2.5vw;
    }

    /* NEW TASK AND ADD TASK*/

    .formTask {
        position: absolute;
        left: 30%;
        bottom: 55%;
        width: 70%;
        padding-bottom: 5%;
    }

    .newTask {
        width: 80%;
        padding: 0.5%;
        border-radius: 10px 0 0 10px;
        outline: none;
        border: 1px solid white;
        background-color: rgba(158, 91, 152, 0.5);
        font-size: 1rem;
        color: rgb(250, 250, 250);
    }

    input.newTask::placeholder {
        color: rgba(255, 255, 255, 0.650);
    }

    .newTask:hover {
        box-shadow: 0px 0px 5px rgb(223, 221, 221);
    }

    .addTask {
        position: relative;
        right: 1%;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0 5px 5px 0;
        font-size: 1rem;
        padding: 0.5%;
    }

    .addTask:hover {
       
            box-shadow: 0px 0px 5px rgb(223, 221, 221);
            text-shadow: 0px 0px 5px rgb(223, 221, 221);
            background-color: rgba(190, 48, 114, 0.336);
            transition: 0.3s;
        }
   

    /* TASK LIST */

    .listTask {
        overflow: auto;
        font-size: 0.6em;
        width: 70%;
        height: 21vh;
        position: relative;
        margin-bottom: 20px;
        left: 27%;
        
    }

    .tasks {
        border-bottom: 1px solid white;
        padding: 1%;
    }

    .tasks:hover{
        background-color: rgba(75, 36, 139, 0.534);
    }

 /* DELETE TASK */

    .deleteTask {
        float: right;
        border: none;
        background-color: transparent;
        outline: none;
    }

   

    .deleteTask::before {
        content: '\f014';
        font-family: 'FontAwesome', sans-serif;
        font-size: 18px;
        margin-right: 11px;
        font-weight: normal;
        color: rgb(255, 0, 0);
        
        
        
        }
    .deleteTask:hover,.mark__btn:hover, .unmark__btn:hover {
        text-shadow: 0px 0px 5px rgb(223, 221, 221);
        
    }

    .mark__btn{
        background-color: transparent;
        border: none;
        float: right;
        outline: none;
    }
    
    .mark__btn::before {
        content: '\f096';
        font-family: 'FontAwesome', sans-serif;
        font-size: 20px;
        margin-right: 3px;
        font-weight: normal;
        color: rgb(21, 255, 0);
        
       
        }

        .unmark__btn{
            background-color: transparent;
            border: none;
            float: right;
            outline: none;
        }
        .unmark__btn::before {
            content: '\f046';
            font-family: 'FontAwesome', sans-serif;
            font-size: 20px;
            
            font-weight: normal;
            color: rgb(21, 255, 0);
            
           
            }

    /* DELETE ROOM BUTTON */

    .deleteRoom {
        position: relative;
        bottom: 11vh;
        left: 69vw;
        padding: 0.5%;
        font-size: 0.8vw;
        border-radius: 5px;
        border: 1px solid rgb(255, 28, 28);;
        outline: none;
        background-color: transparent;
        color: rgb(255, 28, 28);
        line-height: 0.8vw;
        
    }

    .deleteRoom:hover {
        box-shadow: 0px 0px 5px rgb(223, 221, 221);
        text-shadow: 0px 0px 5px rgb(223, 221, 221);
        transition: 0.3s;
    }

/* USERS SELECTOR */ 

    .usersSelector {
        position: relative;
        top: 1vh;
        left: 2vw;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border-radius: 5px 0 0 5px;
        border: 1px solid white;
        outline: none;
    }

    .usersSelector option {
        color: rgba(0, 0, 0, 0.548);
    }

    .add__btn {
        position: relative;
        left: 2%;
        top: 1vh;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: 1px solid white;
        border-radius: 0 5px 5px 0;
        outline: none;
        font-size: 0.95rem;
    }

    .add__btn:hover {
        
            box-shadow: 0px 0px 5px rgb(223, 221, 221);
            text-shadow: 0px 0px 5px rgb(223, 221, 221);
            background-color: rgba(190, 48, 114, 0.336);
            transition: 0.3s;
       
    }

    .listUsers {
        /* display: grid;
        grid-template-columns: repeat(1, 1fr); */
        position: absolute;
        margin-top: 2%;
        margin-left: 3%;
        overflow: auto;
        width: 18%;
        height: 15vh;
        font-size: 1.3rem;
        min-width: 100px;
    }

    /* .userName{
        display: flex;
        align-items: flex-end;
        
    } */
    .userName:hover{
        text-shadow: 0px 0px 5px rgb(223, 221, 221);
    }

    .deleteUser {
        /* float: right; */
        border: none;
        background-color: inherit;
        color: white;
        outline: none;
       
    }

    .deleteUser::before {
        content: '\f235';
        font-family: 'FontAwesome', sans-serif;
        font-size: 15px;
        font-weight: normal;
        color: rgb(255, 0, 0);
        }

    .deleteUser:hover {
        text-shadow: 0px 0px 5px rgb(223, 221, 221);
        font-size: 0.65em;
        
    }

    .addUser__wrapper {
        margin-bottom: 1%;
    }

    .addUser__wrapper active{
        display: none;
    }

    footer {
        padding: 2%;
        color: white;
        text-align: center;
        font-size: 1.2rem;
    }

    @media only screen and (max-width: 1600px){
        #putRoom{
            margin: 0 0 0 20%;
        }
        .deleteRoom{
            left: 68vw;
            font-size: 1vw;
            bottom: 9vh;
        }
    }
    @media only screen and (max-width: 1300px){
        /* #putRoom{
            margin: 3% 0 0 20%;
        } */
        .formTask{
            bottom: 60%
        }
        #btnCreateRoom{
            font-size: 1vw;
        }
    }

    @media only screen and (max-width: 1100px){
        .deleteRoom{
            left: 67vw;
            font-size: 1.2vw;
           
        }
        .listUsers{
            font-size: 2.2vw;
        }
    }

    @media only screen and (max-width: 900px){
        /* #putRoom{
            margin: 12% 0 0 20%;
        } */
        .deleteRoom{
            font-size: 1.4vw;
            line-height: 1.2vw;
            left: 66vw;
            bottom: 8vh;
        }
        #btnCreateRoom{
            font-size: 1.2vw;
        }
        .formTask{
            bottom: 65%;
            
        }
        .newTask{
            width: 70%; 
        }
        
        .listTask{
            max-width: 60%;
            left: 30%;
        }
    }
    
    /* @media only screen and (max-width: 1030px) {
        .back>a>img {
            margin: 4% 0 0% 3%;
            width: 8%;

            grid-template-columns: repeat(1, 1fr);
        }
        .gridHeadline>button {
            position: relative;
            bottom: 1.5vh;
            left: 40vw;
        }

            grid-template-columns: repeat(1, 1fr);
        }
        .gridHeadline>button {
            position: relative;
            bottom: 4.5vh;
            left: 55vw;
        }
        .newTask {
            width: 60%;
        }
    }
    } */