/node_modules


/*
// trigers - כפתורים
doorBell - פעמון דלת
alarmClock - שעון מעורר
carHonk - צופר רכב

// sensors - חיישנים
movementDitector - חיישן תנועה
thermometer - מד טמפרטורה
lightDitector - חיישן תאורה
fireDitector - חיישן אש
whaterDitector - חיישן מים
pollutionDitector  - חיישן זיהום אוויר
locationTracker - מעקב GPS
carLocationTracker - מעקב לרכב GPS
securityCamra - מצלמת אבטחה

sensors{
    on: string
    powerLevel: [string],
    mode: string,
    timeToStart: Number,
    timeToEnd: Number,
    
}


/*
// devices - מכשירים
// air-condishiner - מזגן
// light - תאורה
// vacumeRobot - שואב אבק רובוטי
// breadBaker - אופה לחם
// doorLock - מנעול דלת
// garageDoor - דלת חניה
// kettle - קומקום 
// oven - תנור
// alarm - אזעקה
// car - רכב
// fan - מאוורר
*/
// devices{
//     on: string
//     powerLevel: [string],
//     mode: string,
//     timeToStart: Number,
//     timeToEnd: Number,

// }


    //-----WRITE THE DOM new room-------//
        // writeTheDom = (room, data) => {
        //     room.innerHTML += `<div class="roomsAndTask" name='${data.newRoom._id}'>
        //         <div class="gridHeadline">
        //             <h3>${data.newRoom.roomName}</h3>
        //             <button id="${data.newRoom._id}" onclick="handleDeleteRoom(event)" class="deleteRoom">Delete
        //                 room</button>
        //         </div>

        //         <form id="${data.newRoom._id}" onsubmit='handleAddTask(event)' class="formTask">
        //             <input id="newTask" class="newTask" type='text' placeholder="add task" name='newTask'
        //                 required>
        //             <input type="submit" class="addTask" value="add task">
        //         </form>
                
        //     </div>`
        // }





