body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/loft.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.policyApproval{
    display: flex;
    justify-content: flex-end;
  

}
#check{
    width: auto;
    height: auto;

}
#textForCheck{
    text-align: right;
}


.formsContainer{
    background-color: rgba(77, 27, 27, 0.4);
    padding: 10px;
    width: 35vw;
    border-radius: 5px;
   
    
  
}
.tab--form {
    background-color: #fff;
    display: none;
    padding: 70px 150px 30px;
    height: 400px;
    border-radius: 5px;
   
}

.tab--form.active {
    display: block;
}


.tab--form a,
button {
    text-decoration: none;
    transition: 0.3s;
    color: #298cad;
}
/* .tab--form a:hover{
    color: #36d2ff;
} */
.tab--form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tab--form input {
    display: block;
    width: 100%;
}

label.tab {
    color: #ffffff;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    cursor: pointer;
   }

    label.tab.active {
    background-color: #fff;
    color: #8a3f5e;
   } 

   input[name="tabs"]:checked + label {
    background-color: #fff;
    color: #1d5f75;
   }
   input[name="tabs"]{
       display: none;
      
   }

.tab::before {
content: '\f090';
font-family: 'FontAwesome', sans-serif;
font-size: 24px;
margin-right: 11px;
font-weight: normal;
}
.tab[for*='2']::before {
    content: '\f234';
}

.del {
    display: none;
}
.input{
    font-size: 16px;
    border: 2px solid #e9eaea;
    border-radius: 5px;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #053944;
    outline: none;
    
}
.input:hover{
    border: 2px solid #bebebe;
    transition: 0.3;
}

::-webkit-input-placeholder {color: #afafaf;}



button.button {
    background: #8a3f5e;
    color: #ffffff;
    font-size: 18px;
    display: block;
    margin: auto;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 60%;
    outline: none;
}

button.button:hover{
    transition: 0.3s;
    background-color: #642f45;
}

/* .social {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
} */
/* .social a {
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
} */

/* .social +  */a {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    text-align: center;
}
#reset{
    color: #868686;
}

  @media only screen and (max-width: 1400px) {
    .formsContainer{
        width: 60vw;   
    }
    .tab--form {
       padding: 70px 80px 30px;
       
    }
}

@media only screen and (max-width: 600px) {
    .formsContainer{
        width: 70vw;    
    }
    .tab--form {
        padding: 70px 50px 30px;
        
     }
}  

@media only screen and (max-width: 480px) {
    .formsContainer{
        width: 80vw;
     
    }
    .tab{
        font-size: 100%; 
     }
     .tab::before {
         font-size: 100%;
     }
     .tab--form {
        padding: 70px 30px 30px;
        
     }
}

@media only screen and (max-width: 280px) {
    .formsContainer{
        width: 80vw;
        
    }
    .tab{
        font-size: 100%; 
     }
     .tab::before {
         font-size: 100%;
     }
     .tab--form {
        padding: 60px 30px 30px;
        
     }
}